In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
from pandas import datetime

def parser(x):
    d = datetime.strptime(x, '%b %y')
    return d

# data = pd.read_csv("Electric_Production.csv",index_col=0)
data = pd.read_csv("sp500_monthly.csv", index_col=0, usecols=["Date", "Price"], parse_dates=[0], date_parser=parser)
data['Price'] = data['Price'].str.replace(',','').astype(float)
data = data.reindex(index=data.index[::-1])

data.head()

              Price
Date
2008-06-01  1280.00
2008-07-01  1267.38
2008-08-01  1282.83
2008-09-01  1166.36
2008-10-01   968.75

In [4]:
data.index

DatetimeIndex(['2008-06-01', '2008-07-01', '2008-08-01', '2008-09-01',
               '2008-10-01', '2008-11-01', '2008-12-01', '2009-01-01',
               '2009-02-01', '2009-03-01',
               ...
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01',
               '2018-04-01', '2018-05-01'],
              dtype='datetime64[ns]', name='Date', length=120, freq=None)

In [5]:
data.index = pd.to_datetime(data.index)

In [6]:
data.head()

              Price
Date
2008-06-01  1280.00
2008-07-01  1267.38
2008-08-01  1282.83
2008-09-01  1166.36
2008-10-01   968.75

In [7]:
data.index

DatetimeIndex(['2008-06-01', '2008-07-01', '2008-08-01', '2008-09-01',
               '2008-10-01', '2008-11-01', '2008-12-01', '2009-01-01',
               '2009-02-01', '2009-03-01',
               ...
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01',
               '2018-04-01', '2018-05-01'],
              dtype='datetime64[ns]', name='Date', length=120, freq=None)

In [8]:
data[pd.isnull(data['Price'])]

Empty DataFrame
Columns: [Price]
Index: []

In [9]:
data.head()

              Price
Date
2008-06-01  1280.00
2008-07-01  1267.38
2008-08-01  1282.83
2008-09-01  1166.36
2008-10-01   968.75

In [10]:
import plotly
plotly.tools.set_credentials_file(username='aishlia', api_key='9m80xSKucsJrkBQMipcb')

In [12]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

'https://plot.ly/~aishlia/60'

In [13]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [14]:
data.iplot(title="S&P", theme='pearl')

In [15]:
from pyramid.arima import auto_arima

In [16]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=3, max_q=3, m=12,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1215.432, BIC=1229.369, Fit time=0.504 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=nan, BIC=nan, Fit time=nan seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=1229.134, BIC=1240.284, Fit time=0.278 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1213.488, BIC=1224.638, Fit time=0.242 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=1215.464, BIC=1229.402, Fit time=0.537 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=1248.968, BIC=1257.330, Fit time=0.100 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1215.465, BIC=1229.402, Fit time=0.591 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1217.311, BIC=1234.036, Fit time=1.285 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=1211.644, BIC=1220.006, Fit time=0.200 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 1, 12); AIC=1213.631, BIC=1224.781, Fit time=0.348 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 2, 12); AIC=1213.632, BIC=1224.782, Fit time=0.475 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1215.468, BIC=1229.406, Fit time=1.102 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=1213.508, BIC=1224.658, Fit time=0.199 seconds
Total fit time: 5.867 seconds

In [17]:
stepwise_model.aic()

1211.6436692026664

## Train Test Split

In [18]:
data.head()

              Price
Date
2008-06-01  1280.00
2008-07-01  1267.38
2008-08-01  1282.83
2008-09-01  1166.36
2008-10-01   968.75

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 120 entries, 2008-06-01 to 2018-05-01
Data columns (total 1 columns):
Price    120 non-null float64
dtypes: float64(1)
memory usage: 1.9 KB

In [37]:
train = data.loc['2008-06-01':'2013-12-01']

In [38]:
train.tail()

              Price
Date
2013-08-01  1632.97
2013-09-01  1681.55
2013-10-01  1756.54
2013-11-01  1805.81
2013-12-01  1848.36

In [39]:
test = data.loc['2014-01-01':]

In [40]:
test.head()

              Price
Date
2014-01-01  1782.59
2014-02-01  1859.45
2014-03-01  1872.34
2014-04-01  1883.95
2014-05-01  1923.57

In [41]:
test.tail()

              Price
Date
2018-01-01  2823.81
2018-02-01  2713.83
2018-03-01  2640.87
2018-04-01  2648.05
2018-05-01  2722.78

In [42]:
test_length = len(test)
test_length

53

In [43]:
stepwise_model.fit(train)

ValueError: non-invertible starting seasonal moving average parameters found with `enforce_invertibility` set to True.

In [44]:
future_forecast = stepwise_model.predict(n_periods=test_length)

In [29]:
future_forecast

array([ 2228.13304779,  2271.01019334,  2326.06304553,  2362.88903133,
        2373.35857457,  2380.35511987,  2427.25405337,  2424.5638456 ,
        2431.42749687,  2464.59618994,  2497.61095963,  2531.13737257,
        2523.58429214,  2569.60530945,  2627.80203341,  2667.77189098,
        2681.38530599])

In [30]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [31]:
future_forecast.head()

             Prediction
Date
2017-01-01  2228.133048
2017-02-01  2271.010193
2017-03-01  2326.063046
2017-04-01  2362.889031
2017-05-01  2373.358575

In [32]:
test.head()

              Price
Date
2017-01-01  2278.87
2017-02-01  2363.64
2017-03-01  2362.72
2017-04-01  2384.20
2017-05-01  2411.80

In [33]:
pd.concat([test,future_forecast],axis=1).iplot()

In [35]:
future_forecast2 = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])#future_forcast

In [36]:
pd.concat([data,future_forecast2],axis=1).iplot()