In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from pandas import datetime

def parser(x):
    d = datetime.strptime(x, '%b %%Y')
    return d

# data = pd.read_csv("Electric_Production.csv",index_col=0)
data = pd.read_csv("sp500_monthly.csv", index_col=0, usecols=["Date", "Price"], parse_dates=[0], date_parser=parser)
data['Price'] = data['Price'].str.replace(',','').astype(float)
data = data.reindex(index=data.index[::-1])

data.head()

ValueError: time data 'May 18' does not match format '%b %d, %Y'

In [2]:
data.index

DatetimeIndex(['2008-05-11', '2008-05-18', '2008-05-25', '2008-06-01',
               '2008-06-08', '2008-06-15', '2008-06-22', '2008-06-29',
               '2008-07-06', '2008-07-13',
               ...
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06'],
              dtype='datetime64[ns]', name='Date', length=522, freq=None)

In [3]:
data.index = pd.to_datetime(data.index)

In [4]:
data.head()

            Price_Nikkei
Date
2008-05-11      14219.48
2008-05-18      14012.20
2008-05-25      14338.54
2008-06-01      14489.44
2008-06-08      13973.73

In [5]:
data.index

DatetimeIndex(['2008-05-11', '2008-05-18', '2008-05-25', '2008-06-01',
               '2008-06-08', '2008-06-15', '2008-06-22', '2008-06-29',
               '2008-07-06', '2008-07-13',
               ...
               '2018-03-04', '2018-03-11', '2018-03-18', '2018-03-25',
               '2018-04-01', '2018-04-08', '2018-04-15', '2018-04-22',
               '2018-04-29', '2018-05-06'],
              dtype='datetime64[ns]', name='Date', length=522, freq=None)

In [6]:
data[pd.isnull(data['Price_Nikkei'])]

Empty DataFrame
Columns: [Price_Nikkei]
Index: []

In [7]:
data.head()

            Price_Nikkei
Date
2008-05-11      14219.48
2008-05-18      14012.20
2008-05-25      14338.54
2008-06-01      14489.44
2008-06-08      13973.73

In [8]:
import plotly
plotly.tools.set_credentials_file(username='aishlia', api_key='9m80xSKucsJrkBQMipcb')

In [10]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

'https://plot.ly/~aishlia/44'

In [17]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [18]:
data.iplot(title="Nikkei Prices from 2008-2018", theme='pearl')

In [21]:
from pyramid.arima import auto_arima

In [23]:
stepwise_model = auto_arima(data, start_p=1, start_q=1,
                           max_p=6, max_q=6, m=52,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 52); AIC=7094.992, BIC=7116.280, Fit time=27.361 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 52); AIC=nan, BIC=nan, Fit time=nan seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 52); AIC=7165.218, BIC=7182.248, Fit time=16.470 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 52); AIC=7093.602, BIC=7110.633, Fit time=23.711 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 1, 52); AIC=7094.496, BIC=7115.784, Fit time=38.369 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 0, 52); AIC=7299.202, BIC=7311.975, Fit time=1.812 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 2, 52); AIC=7094.539, BIC=7115.827, Fit time=132.875 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 52); AIC=7096.536, BIC=7122.082, Fit time=170.932 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 1, 52); AIC=7091.610, BIC=7104.383, Fit time=26.238 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 1, 52); AIC=7092.496, BIC=7109.527, Fit time=35.385 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 2, 52); AIC=7092.710, BIC=7109.740, Fit time=82.697 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 52); AIC=7094.538, BIC=7115.826, Fit time=134.748 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(0, 1, 1, 52); AIC=7093.602, BIC=7110.632, Fit time=33.846 seconds
Total fit time: 724.448 seconds

In [24]:
stepwise_model.aic()

7091.609520358701

## Train Test Split

In [25]:
data.head()

            Price_Nikkei
Date
2008-05-11      14219.48
2008-05-18      14012.20
2008-05-25      14338.54
2008-06-01      14489.44
2008-06-08      13973.73

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 522 entries, 2008-05-11 to 2018-05-06
Data columns (total 1 columns):
Price_Nikkei    522 non-null float64
dtypes: float64(1)
memory usage: 8.2 KB

In [27]:
train = data.loc['2008-05-11':'2016-12-25']

In [28]:
train.tail()

            Price_Nikkei
Date
2016-11-27      18426.08
2016-12-04      18996.37
2016-12-11      19401.15
2016-12-18      19427.67
2016-12-25      19114.37

In [29]:
test = data.loc['2017-01-01':]

In [30]:
test.head()

            Price_Nikkei
Date
2017-01-01      19454.33
2017-01-08      19287.28
2017-01-15      19137.91
2017-01-22      19467.40
2017-01-29      18918.20

In [31]:
test.tail()

            Price_Nikkei
Date
2018-04-08      21778.74
2018-04-15      22162.24
2018-04-22      22467.87
2018-04-29      22472.78
2018-05-06      22555.00

In [32]:
test_length = len(test)
test_length

71

In [33]:
stepwise_model.fit(train)

ARIMA(callback=None, disp=0, maxiter=50, method=None, order=(0, 1, 0),
   out_of_sample_size=0, scoring='mse', scoring_args={},
   seasonal_order=(0, 1, 1, 52), solver='lbfgs', start_params=None,
   suppress_warnings=True, transparams=True, trend='c')

In [34]:
future_forecast = stepwise_model.predict(n_periods=test_length)

In [35]:
future_forecast

array([18736.34594903, 18514.36052797, 18572.54431595, 18729.15575864,
       18526.26546367, 18204.98627005, 18651.90939988, 18854.09917976,
       19276.61087472, 19200.08152888, 19272.26893549, 19441.97023995,
       19389.76558221, 19313.5347402 , 19560.40674038, 19912.24046632,
       19600.2462267 , 19606.92332513, 19720.37083583, 19932.66098829,
       19984.29483095, 19900.63842959, 19889.55805351, 19768.04222361,
       19742.63802962, 20029.85098605, 19727.64754708, 20304.34580012,
       20313.49908807, 20358.50885208, 20127.97806912, 20310.60369851,
       20126.78334857, 19949.82310515, 19967.75807851, 20231.45371505,
       20175.00539598, 20115.23249768, 19772.43051156, 20016.71461457,
       19909.29146276, 20202.72087352, 20511.70360708, 20457.93505649,
       20844.16670662, 21086.12839091, 21330.75219458, 21353.18686684,
       21433.77469382, 21644.36802756, 21758.25925552, 21783.81785132,
       21413.98495138, 21200.19068134, 21266.56562035, 21431.36821408,
       21236.66907013, 20923.58102754, 21378.6953084 , 21589.0762393 ,
       22019.77908529, 21951.44089047, 22031.81944811, 22209.71190361,
       22165.69839689, 22097.65870591, 22352.72185711, 22712.74673408,
       22408.9436455 , 22423.81189495, 22545.45055668])

In [36]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [37]:
future_forecast.head()

              Prediction
Date
2017-01-01  18736.345949
2017-01-08  18514.360528
2017-01-15  18572.544316
2017-01-22  18729.155759
2017-01-29  18526.265464

In [38]:
test.head()

            Price_Nikkei
Date
2017-01-01      19454.33
2017-01-08      19287.28
2017-01-15      19137.91
2017-01-22      19467.40
2017-01-29      18918.20

In [39]:
pd.concat([test,future_forecast],axis=1).iplot()

In [40]:
future_forecast2 = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])#future_forcast

In [41]:
pd.concat([data,future_forecast2],axis=1).iplot()