In [16]:
%matplotlib inline
import pandas as pd
import numpy as np
from pandas import datetime

def parser(x):
    d = datetime.strptime(x, '%b %y')
#     d = datetime.strptime(x, '%b %d, %Y')
    return d

# data = pd.read_csv("Electric_Production.csv",index_col=0)
data = pd.read_csv("Nikkei_weekly_10.csv", index_col=0, usecols=["Date", "Price_Nikkei"], parse_dates=[0], date_parser=parser)
data['Price_Nikkei'] = data['Price_Nikkei'].str.replace(',','').astype(float)
data = data.reindex(index=data.index[::-1])

data_2 = pd.read_csv("Crude_Oil_weekly_10.csv", index_col=0, usecols=["Date", "Price_Oil"], parse_dates=[0], date_parser=parser)
data_2 = data_2.reindex(index=data_2.index[::-1])

print(data.head())
print(data_2.head())

            Price_Nikkei
Date
2008-06-01      13481.38
2008-07-01      13376.81
2008-08-01      13072.87
2008-09-01      11259.86
2008-10-01       8576.98
            Price_Oil
Date
2008-06-01     140.00
2008-07-01     124.08
2008-08-01     115.46
2008-09-01     100.64
2008-10-01      67.81

In [17]:
data.index

DatetimeIndex(['2008-06-01', '2008-07-01', '2008-08-01', '2008-09-01',
               '2008-10-01', '2008-11-01', '2008-12-01', '2009-01-01',
               '2009-02-01', '2009-03-01',
               ...
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01',
               '2018-04-01', '2018-05-01'],
              dtype='datetime64[ns]', name='Date', length=120, freq=None)

In [20]:
data.index = pd.to_datetime(data.index)
data_2.index = pd.to_datetime(data_2.index)

In [21]:
data.head()

            Price_Nikkei
Date
2008-06-01      13481.38
2008-07-01      13376.81
2008-08-01      13072.87
2008-09-01      11259.86
2008-10-01       8576.98

In [22]:
data.index

DatetimeIndex(['2008-06-01', '2008-07-01', '2008-08-01', '2008-09-01',
               '2008-10-01', '2008-11-01', '2008-12-01', '2009-01-01',
               '2009-02-01', '2009-03-01',
               ...
               '2017-08-01', '2017-09-01', '2017-10-01', '2017-11-01',
               '2017-12-01', '2018-01-01', '2018-02-01', '2018-03-01',
               '2018-04-01', '2018-05-01'],
              dtype='datetime64[ns]', name='Date', length=120, freq=None)

In [24]:
data[pd.isnull(data['Price_Nikkei'])]

Empty DataFrame
Columns: [Price_Nikkei]
Index: []

In [25]:
data.head()

            Price_Nikkei
Date
2008-06-01      13481.38
2008-07-01      13376.81
2008-08-01      13072.87
2008-09-01      11259.86
2008-10-01       8576.98

In [26]:
import plotly
plotly.tools.set_credentials_file(username='aishlia', api_key='9m80xSKucsJrkBQMipcb')

In [27]:
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
result = seasonal_decompose(data, model='multiplicative')
fig = result.plot()
plot_mpl(fig)

/Users/jnai/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning:

The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.

'https://plot.ly/~aishlia/68'

In [28]:
import plotly.plotly as ply
import cufflinks as cf
# Check the docs on setting up offline plotting

In [29]:
data.iplot(title="Nikkei Prices from 2008-2018", theme='pearl')

In [30]:
from pyramid.arima import auto_arima

In [33]:
stepwise_model = auto_arima(data, exogenous=data_2,start_p=1, start_q=1,
                           max_p=6, max_q=6, m=52,
                           start_P=0, seasonal=True,
                           d=1, D=1, trace=True,
                           error_action='ignore',  
                           suppress_warnings=True, 
                           stepwise=True)

Fit ARIMA: order=(1, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1740.872, BIC=1757.597, Fit time=0.725 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 0, 12); AIC=nan, BIC=nan, Fit time=nan seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(1, 1, 0, 12); AIC=1751.775, BIC=1765.713, Fit time=0.416 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 1, 12); AIC=1739.420, BIC=1753.358, Fit time=0.379 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 1, 12); AIC=1741.380, BIC=1758.105, Fit time=0.724 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 0, 12); AIC=1774.281, BIC=1785.431, Fit time=0.101 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(0, 1, 2, 12); AIC=1741.380, BIC=1758.105, Fit time=1.481 seconds
Fit ARIMA: order=(0, 1, 1) seasonal_order=(1, 1, 2, 12); AIC=1743.384, BIC=1762.897, Fit time=1.773 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=1738.746, BIC=1749.896, Fit time=0.364 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 1, 12); AIC=1740.738, BIC=1754.676, Fit time=0.602 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(0, 1, 2, 12); AIC=1740.747, BIC=1754.684, Fit time=1.076 seconds
Fit ARIMA: order=(0, 1, 0) seasonal_order=(1, 1, 2, 12); AIC=1742.511, BIC=1759.236, Fit time=1.545 seconds
Fit ARIMA: order=(1, 1, 0) seasonal_order=(0, 1, 1, 12); AIC=1739.540, BIC=1753.477, Fit time=0.560 seconds
Total fit time: 9.768 seconds

In [34]:
stepwise_model.aic()

1738.7459489522957

## Train Test Split

In [35]:
data.head()

            Price_Nikkei
Date
2008-06-01      13481.38
2008-07-01      13376.81
2008-08-01      13072.87
2008-09-01      11259.86
2008-10-01       8576.98

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 120 entries, 2008-06-01 to 2018-05-01
Data columns (total 1 columns):
Price_Nikkei    120 non-null float64
dtypes: float64(1)
memory usage: 1.9 KB

In [37]:
train = data.loc['2008-05-11':'2016-12-25']

In [38]:
train.tail()

            Price_Nikkei
Date
2016-08-01      16887.40
2016-09-01      16449.84
2016-10-01      17425.02
2016-11-01      18308.48
2016-12-01      19114.37

In [39]:
test = data.loc['2017-01-01':]

In [40]:
test.head()

            Price_Nikkei
Date
2017-01-01      19041.34
2017-02-01      19118.99
2017-03-01      18909.26
2017-04-01      19196.74
2017-05-01      19650.57

In [41]:
test.tail()

            Price_Nikkei
Date
2018-01-01      23098.29
2018-02-01      22068.24
2018-03-01      21454.30
2018-04-01      22467.87
2018-05-01      22547.50

In [42]:
test_length = len(test)
test_length

17

In [43]:
stepwise_model.fit(train)

ARIMA(callback=None, disp=0, maxiter=50, method=None, order=(0, 1, 0),
   out_of_sample_size=0, scoring='mse', scoring_args={},
   seasonal_order=(0, 1, 1, 12), solver='lbfgs', start_params=None,
   suppress_warnings=True, transparams=True, trend='c')

In [44]:
future_forecast = stepwise_model.predict(n_periods=test_length)

In [45]:
future_forecast

array([ 18352.14964555,  18005.98681813,  18562.35596096,  18649.93825091,
        19212.44891797,  18466.56676863,  19120.90441924,  18825.99238681,
        18439.47081874,  19388.02919191,  20252.68425224,  20584.68882111,
        19840.43917175,  19512.24704942,  20086.58689734,  20192.13989238,
        20772.62126453])

In [46]:
future_forecast = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])

In [47]:
future_forecast.head()

              Prediction
Date
2017-01-01  18352.149646
2017-02-01  18005.986818
2017-03-01  18562.355961
2017-04-01  18649.938251
2017-05-01  19212.448918

In [48]:
test.head()

            Price_Nikkei
Date
2017-01-01      19041.34
2017-02-01      19118.99
2017-03-01      18909.26
2017-04-01      19196.74
2017-05-01      19650.57

In [49]:
pd.concat([test,future_forecast],axis=1).iplot()

In [51]:
future_forecast2 = pd.DataFrame(future_forecast,index = test.index,columns=['Prediction'])#future_forcast

In [52]:
pd.concat([data,future_forecast2],axis=1).iplot()